page-chat {
    ion-list.list.chat {
        display: flex;
        flex-flow: column nowrap;
        padding-top: 16px;

        &.list-md {
            border-bottom: none;
        }

        & > .chat-entry {
            align-self: flex-start;
            width: auto;
            min-width: 20%;
            max-width: 75%;
            min-height: 0;
            padding: 5px 8px 1px;
            margin: 5px 16px;
            border-radius: 10px;
            background-color: darken($background-color, 5%);
            border: 1px solid darken($background-color, 15%);

            & > .item-inner {
                padding: 0;

                ion-label.label {
                    display: flex;
                    flex-flow: column nowrap;
                    margin: 0;
                    white-space: normal;
                }
            }

            &.chat-entry--alt {
                align-self: flex-end;
                background-color: map-get($colors, 'secondary');
            }

            .chat-entry__from {
                color: map-get($colors, 'primary');
                font-size: 0.8em;
            }

            .chat-entry__content {
                font-size: 0.9em;
                padding: 2px 20px 0 0;
                white-space: pre-wrap;
                line-height: 1.2em;
            }

            .chat-entry__timestamp {
                align-self: flex-end;
                font-size: 0.6em;
                font-style: italic;
                padding: 1px;
                color: lighten($text-color, 25%);
            }
        }
    }

    ion-toolbar.toolbar {
        min-height: 0;

        ion-textarea {
            border: 1px solid darken($background-color, 5%);
            border-radius: 5px;

            textarea {
                padding: 2px 0 0 5px;
                margin: 0;
                border: 0;
                line-height: inherit;
            }
        }

        ion-buttons.bar-buttons[end] {
            padding-left: 10px;
            padding-right: 6px;
        }
    }
}
