<ion-header>
    <ion-navbar [color]="'primary' | platform:'md'">
        <button ion-button menuToggle [color]="'primary' | platform:'ios'">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Watson</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="reload()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines no-padding class="chat">
        <ion-item
            *ngFor="let entry of chat"
            class="chat-entry chat-entry--{{entry.type}}"
            [class.chat-entry--alt]="!entry.from"
        >
            <div *ngIf="entry.type === 'text'">
                <div *ngIf="entry.from" class="chat-entry__from">{{entry.from}}</div>
                <div class="chat-entry__content">{{entry.text}}</div>
                <div class="chat-entry__timestamp">{{entry.timestamp | date:'hh:mm a'}}</div>
            </div>
            <div *ngIf="entry.type === 'image'">
                <div *ngIf="entry.from" class="chat-entry__from">{{entry.from}}</div>
                <div class="chat-entry__content">
                    <img [src]="entry.image" [alt]="entry.title">
                </div>
                <div class="chat-entry__timestamp">{{entry.timestamp | date:'hh:mm a'}}</div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons left>
            <button
                ion-button
                icon-only
                color="primary"
                (click)="sendAttachment()"
            >
                <ion-icon name="attach"></ion-icon>
            </button>
        </ion-buttons>
        <ion-textarea
            #input
            placeholder="Write a message..."
            spellcheck="true"
            aria-autocomplete="on"
            autocorrect="on"
        >
        </ion-textarea>
        <ion-buttons right>
            <button
                ion-button
                icon-only
                color="primary"
                (click)="sendAudio()"
                *ngIf="!input.value"
            >
                <ion-icon name="mic"></ion-icon>
            </button>
            <button
                ion-button
                icon-only
                color="primary"
                (click)="sendText(input.value)"
                *ngIf="!!input.value"
            >
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
