<ion-header>
    <ion-navbar [color]="'primary' | platform:'md'">
        <ion-title>User {{user}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines no-padding class="chat">
        <ion-item
            *ngFor="let entry of chat"
            class="chat-entry"
            [class.chat-entry--alt]="!entry.from"
        >
            <div *ngIf="entry.from" class="chat-entry__from">
                {{entry.from}}
            </div>
            <div class="chat-entry__content">
                {{entry.content}}
            </div>
            <div class="chat-entry__timestamp">
                {{entry.timestamp | date:'hh:mm a'}}
            </div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-textarea placeholder="Write a message..."></ion-textarea>
        <ion-buttons end>
            <button ion-button icon-only color="primary">
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
