page-chat {
    ion-list.list.chat {
        display: flex;
        flex-flow: column nowrap;
        padding-top: 16px;
        margin: -1px 0 15px;

        &.list-md {
            border-bottom: none;
        }

        & > .chat-entry {
            align-self: flex-start;
            width: auto;
            min-width: 20%;
            max-width: 75%;
            min-height: 0;
            margin: 2px 16px;
            border-radius: 10px;

            & > .item-inner {
                padding: 0;

                ion-label.label {
                    margin: 0;
                    white-space: normal;

                    & > div {
                        display: flex;
                        flex-flow: column nowrap;
                    }
                }
            }

            &.chat-entry--alt {
                align-self: flex-end;
            }

            &.chat-entry--text {
                padding: 5px 8px 1px;
                background-color: darken($background-color, 5%);
                border: 1px solid darken($background-color, 15%);

                &.chat-entry--alt {
                    background-color: map-get($colors, 'secondary');
                }

                .chat-entry__content {
                    padding: 2px 5px 0 0;
                    white-space: pre-wrap;
                    line-height: 1.2em;
                }
            }

            &.chat-entry--image {
                .chat-entry__from,
                .chat-entry__timestamp {
                    border-radius: 4px;
                    background-color: darken($background-color, 5%);
                    border: 1px solid darken($background-color, 15%);
                    padding: 1px 4px;
                }

                .chat-entry__from {
                    margin: 0 4px 2px;
                }

                .chat-entry__timestamp {
                    margin-top: -2px;
                }

                .chat-entry__content img {
                    border: 1px solid darken($background-color, 15%);
                    border-radius: 10px;
                }
            }

            .chat-entry__from {
                align-self: flex-start;
                color: map-get($colors, 'primary');
                font-size: 0.9em;
            }

            .chat-entry__timestamp {
                align-self: flex-end;
                font-size: 0.65em;
                font-style: italic;
                padding: 1px;
                color: lighten($text-color, 25%);
            }
        }
    }

    ion-toolbar.toolbar {
        min-height: 0;

        ion-textarea {
            background-color: lighten($background-color, 10%);
            border: 1px solid darken($background-color, 10%);
            border-radius: 8px;

            textarea {
                padding: 2px 0 0 5px;
                margin: 0;
                border: 0;
                line-height: inherit;
            }
        }

        ion-buttons.bar-buttons[end] {
            padding: 0 4px 0 5px;
        }
    }
}
