
page-settings {
    .profile {
        display: flex;

        .profile--avatar img {
            width: 90px;
            height: 90px;
            border: 1px solid #dedede;
        }

        .profile--data {
            padding: 20px;
        }
    }
}