page-settings {
    .profile {
        display: flex;

        .profile__avatar img {
            width: 90px;
            height: 90px;
            border: 1px solid $list-ios-border-color;
        }

        .profile__data {
            padding: 20px;
        }
    }
}
